<div class="popup-size-guide position-relative py-30 px-15" data-popup-content>

    <div class="popup-size-guide__content mx-auto">
        <div class="rte">
            {{ product.metafields.sizeguide.html }}
        </div>
    </div>
</div>
