{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}
<div class="catalog-more text-center" data-pagination>
    {% unless paginate.next.is_link %}
        <div class="catalog-more__box cursor-pointer">
            <svg viewBox="0 0 226 226" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="line-first" cx="113" cy="113" r="112" stroke="#000000" stroke-opacity="1" stroke-width="1" stroke-dashoffset="0" stroke-dasharray="710" />
                <circle class="line-last" cx="113" cy="113" r="112" stroke="#A60B00" stroke-opacity="1" stroke-width="1" stroke-dashoffset="710" stroke-dasharray="710" />
            </svg>

            <div class="catalog-more__box-title">NO MORE PRODUCTS</div>
        </div>
    {% else %}
        <a href="{{ paginate.next.url }}"  class="catalog-more__box cursor-pointer js-load-more">
            <svg viewBox="0 0 226 226" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="line-first" cx="113" cy="113" r="112" stroke="#000000" stroke-opacity="1" stroke-width="1" stroke-dashoffset="0" stroke-dasharray="710" />
                <circle class="line-last" cx="113" cy="113" r="112" stroke="#A60B00" stroke-opacity="1" stroke-width="1" stroke-dashoffset="710" stroke-dasharray="710" />
            </svg>
            <div class="catalog-more__box-title">MORE PRODUCTS</div>
            <div class="catalog-more__box-loading">loading...</div>
            <div class="catalog-more__box-loaded"><span class="icon icon-i-check"></span></div>
            <div class="catalog-more__box-disable">NO MORE PRODUCTS</div>
        </a>
    {% endunless %}
</div>
