<div class="login">
    <div class="login-bg" style="background-image: url('{{ 'login-bg.jpg' | asset_img_url: 'master' }}')"></div>
    <div class="login-content">
        <div class="container">
            <div class="login-box">
                {% form 'reset_customer_password', novalidate:'true' %}
                    <div class="form-title">Reset or create your password</div>
                    <div class="form-text">To reset or create your password, just enter a new one below.</div>
                    <div class="form-group {% if form.errors %} has-error {% endif %}">
                        <input type="password" name="customer[password]" id="ResetPassword" placeholder="New password">
                        <span class="toggle-pass js-toggle-pass"><span class="icon icon-i-view-on"></span></span>
                        <div class="help-block">{%- if form.errors -%} {{ form.errors | default_errors }} {%- endif -%}</div>

                    </div>
                    <div class="form-group {% if form.errors contains 'password_confirmation' %} has-error{% endif %}">
                        <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" placeholder="Confirm password">
                        <span class="toggle-pass js-toggle-pass"><span class="icon icon-i-view-on"></span></span>
                        <div class="help-block">{%- if form.errors -%} {{ form.errors.messages['password_confirmation'] }} {%- endif -%}</div>
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn btn-red"><span>Create my account</span></button>
                        <a href="/account/login" class="btn btn-nofill"><span>Cancel</span></a>
                    </div>
                     {% endform %}
            </div>
        </div>
    </div>
</div>
