<div class="page-width">
  <div class="empty-page-content text-center">
    <h1>404</h1>
    <p>Page Not Found</p>
    <p><span>We looked everywhere for this page.Are you sure the website URL is correct? Get in touch with the site owner.</span></p>
    <p>
      <a href="{{ routes.root_url }}" class="btn btn-red"><span>GO BACK</span></a>
    </p>
  </div>
</div>
