{% include 'breadcrumbs' %}
<div class="container mb-60">
  <!-- <h1 class="h3 mt-30 text-center">{{ page.title }}</h1> -->
  <div class="rte">
    {% include 'content-load-template' content: page.content %}
  </div>
</div>
<script type="text/javascript">
  var _support = _support || { 'ui': {}, 'user': {} };
  _support['account'] = 'marie-mur';
  _support['contact_custom_fields'] = _support['contact_custom_fields'] || {};
  _support['contact_custom_fields']['rmz_form_id_23017'] = {
      '__order_number': {
        pos: 1622123852270,
        type: 'order_number',
        required: false,
        placeholder: 'Order Number',
      },
      'Phone Number': {
        pos: 1622123871131,
        type: 'phone',
        value: '',
        required: true,
        placeholder: '',
        connectContact: true,
      }
  };
</script>
<div data-reamaze-embed="contact" data-reamaze-embed-disable-subject="true" data-reamaze-embed-form-id="23017" style="max-width:650px;margin:0 auto;"></div>

